In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_1samp

In [2]:
df = pd.read_csv(r'C:\Users\Sravan\Downloads\property.csv')

In [3]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [4]:
###1. For the suburb Altona, it is postulated that a typical property sells for $800,000. Use the data at hand to test this assumption. Is the typical property price really $800,000 or has it increased? Use a significance level of 5%. 

# Filter the data for the suburb "Altona"
altona_data = df[df['Suburb'] == 'Altona']

In [5]:
# Extract the prices, ensuring no missing values
altona_prices = altona_data['Price'].dropna()

In [6]:
# Perform a one-sample t-test against the population mean of $800,000
population_mean = 800000
t_stat, p_value = ttest_1samp(altona_prices, population_mean, alternative='greater')

In [7]:
# Output the test statistics and interpret the result
print("T-statistic:", t_stat)
print("P-value:", p_value)
print("Sample size (n):", len(altona_prices))

T-statistic: 1.0277020770199676
P-value: 0.1537416356527775
Sample size (n): 74

In [8]:
# Conclusion
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The typical property price in Altona has increased above $800,000.")
else:
    print("Fail to reject the null hypothesis: There is insufficient evidence to conclude that the typical property price in Altona has increased above $800,000.")

Fail to reject the null hypothesis: There is insufficient evidence to conclude that the typical property price in Altona has increased above $800,000.

In [9]:
###For the year 2016, is there any difference in prices of properties sold in the summer months vs winter months? Consider months from October till March as winter months and the rest as summer months. Use a significance level of 5%. 
# Convert the 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y', errors='coerce')

In [10]:
# Filter data for the year 2016
data_2016 = df[df['Date'].dt.year == 2016]

In [11]:
# Extract the month from the 'Date' column
data_2016 = data_2016.assign(Month=data_2016['Date'].dt.month)

In [12]:
# Separate data into summer (April-September) and winter (October-March) months
winter_months = data_2016[data_2016['Month'].isin([10, 11, 12, 1, 2, 3])]
summer_months = data_2016[data_2016['Month'].isin([4, 5, 6, 7, 8, 9])]

In [13]:
# Extract property prices for summer and winter months
winter_prices = winter_months['Price'].dropna()
summer_prices = summer_months['Price'].dropna()

In [14]:
from scipy.stats import ttest_ind

In [15]:
# Perform an independent two-sample t-test
t_stat, p_value = ttest_ind(winter_prices, summer_prices, equal_var=False)

In [16]:
# Perform an independent two-sample t-test
t_stat, p_value = ttest_ind(winter_prices, summer_prices, equal_var=False)

In [17]:
# Output the test statistics
print("T-statistic:", t_stat)
print("P-value:", p_value)
print("Winter sample size (n):", len(winter_prices))
print("Summer sample size (n):", len(summer_prices))

T-statistic: 3.9211012778003753
P-value: 8.950129747463378e-05
Winter sample size (n): 2300
Summer sample size (n): 4036

In [18]:
# Conclusion
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in property prices between summer and winter months in 2016.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in property prices between summer and winter months in 2016.")

Reject the null hypothesis: There is a significant difference in property prices between summer and winter months in 2016.

In [19]:
###3. For the suburb of Abbotsford, what is the probability that out of 10 properties sold, 3 will not have car parking? Use the column car in the dataset. Round off your answer to 3 decimal places. 
# Filter the dataset for the suburb of Abbotsford
abbotsford_data = df[df['Suburb'] == 'Abbotsford']

In [20]:
# Calculate the probability of no car parking (Car == 0)
no_car_probability = (abbotsford_data['Car'] == 0).mean()

In [21]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\programdata\anaconda3\lib\site-packages (from scipy) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [22]:
from scipy.stats import binom

In [23]:
# Calculate the probability of exactly 3 out of 10 properties having no car parking
n = 10  # total properties
k = 3   # properties with no car parking
probability_k = binom.pmf(k, n, no_car_probability)

In [24]:
# Round the result to 3 decimal places
rounded_probability = round(probability_k, 3)

In [25]:
print(f"Probability of no car parking: {no_car_probability:.3f}")
print(f"Probability of exactly 3 out of 10 properties having no car parking: {rounded_probability}")

Probability of no car parking: 0.268
Probability of exactly 3 out of 10 properties having no car parking: 0.26

In [26]:
###4. In the suburb of Abbotsford, what are the chances of finding a property with 3 rooms? Round your answer to 3 decimal places. 

# Calculate the probability of finding a property with 3 rooms
three_rooms_probability = (abbotsford_data['Rooms'] == 3).mean()

In [27]:
# Round the result to 3 decimal places
rounded_three_rooms_probability = round(three_rooms_probability, 3)

In [29]:
print(f"The probability of finding a property with 3 rooms in Abbotsford is {rounded_three_rooms_probability}")

The probability of finding a property with 3 rooms in Abbotsford is 0.357

In [30]:
# Calculate the probability of finding a property with 2 bathrooms
two_bathrooms_probability = (abbotsford_data['Bathroom'] == 2).mean()

In [31]:
# Round the result to 3 decimal places
rounded_two_bathrooms_probability = round(two_bathrooms_probability, 3)

In [32]:
print(f"The probability of finding a property with 2 bathrooms in Abbotsford is {rounded_two_bathrooms_probability}")

The probability of finding a property with 2 bathrooms in Abbotsford is 0.339